<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>충전 내역</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar">
        <span class="navbar-user"><strong id="username"></strong></span>
        <div class="navbar-links">
            <a href="/main" class="navbar-link">메인 페이지</a>
            <a href="/delkeywords" class="navbar-link">삭제 키워드</a>
            <a href="/user-charge-history" class="navbar-link">충전 내역</a>
            <a href="/logout" class="navbar-link">로그아웃</a>
        </div>
    </nav>

    <div class="info-box"> 
        <p>충전 내역</p>
    </div>
    <div class="main-container">
    <table class="account-table">
        <thead>
            <tr>
                <th>업체명</th>
                <th>아이디</th>
                <th>권한</th>
                <th>구매슬롯</th>
                <th>잔여슬롯</th>
                <th>수정횟수</th>
                <th>충전</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody id="history-table-body">
            <!-- 서버에서 가져온 계정 목록이 반복해서 표시됨 -->
        </tbody>
    </table>
    
 

    
    

    <script src="/js/user-charge-history.js"></script>
</body>
</html>
